body {
    background-color:rgb(93, 155, 199)!important;
    color: white;
}

#main-menu #extension-sinope-out-temp-menu-item{
    background-image: url(../images/menu-icon.svg);
} 

#extension-sinope-out-temp-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.8rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url(../images/menu-icon.svg);
    width: 16rem;
    margin: 0 auto;
}


#extension-sinope-out-temp-content{
    max-width:60rem;
    margin:0 auto;
    padding:2rem;
    margin-left: 10rem;
}

#extension-sinope-out-temp-content-container{
    margin-left:10rem;
    font-size: 1.8rem;
    width:calc(100vw - 10rem);
    height:100vh;
    overflow:auto;
}

#extension-sinope-out-temp-view{
    margin-left:10rem;
    overflow:auto;
}

#extension-sinope-out-temp-list-element{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: (rgb(72,120,154));
}