body {
    background-color:rgb(93, 155, 199)!important;
    color: white;
}

#main-menu #extension-sinope-out-temp-menu-item{
    background-image: url(../images/menu-icon.svg);
} 

#extension-sinope-out-temp-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.8rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url(../images/menu-icon.svg);
    width: 16rem;
    margin: 0 auto;
}


#extension-sinope-out-temp-content{
    /*max-width:60rem;*/
    max-width: fit-content;
    margin:0 auto;
    padding:2rem;
    margin-left: 10rem;
}

#extension-sinope-out-temp-content-container{
    margin-left:10rem;
    font-size: 1.8rem;
    width:calc(100vw - 10rem);
    height:100vh;
    overflow:auto;
}

#extension-sinope-out-temp-view{
    margin-left:10rem;
    overflow:auto;
}

#extension-sinope-out-temp-list-element{
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #46769C;
    border-radius: 2.8rem;
    width: 100%;
    height: fit-content;
}

#extension-sinope-out-temp-list-element select{
    position:absolute;
    right: 0px;
    font-size: 1.8rem;
    color: white;
    line-height: 1.3;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0 0.5rem;
    border: none;
    background-color: #4d8bb7;
    appearance: none;
    background-image: url(/images/select-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: calc(100% - 1rem);
    padding-right: 3.5rem;   
}